<!-- Marquee -->
<div class="marquee-line">
  <div class="marquee-inner">
    Strategy &nbsp;·&nbsp; Icons &nbsp;·&nbsp; Vision &nbsp;·&nbsp; Legacy &nbsp;·&nbsp; Precision &nbsp;·&nbsp; Craft &nbsp;·&nbsp; Strategy &nbsp;·&nbsp; Icons &nbsp;·&nbsp; Vision &nbsp;·&nbsp; Legacy &nbsp;·&nbsp; Precision &nbsp;·&nbsp; Craft &nbsp;·&nbsp; Strategy &nbsp;·&nbsp; Icons &nbsp;·&nbsp; Vision &nbsp;·&nbsp; Legacy &nbsp;·&nbsp; Precision &nbsp;·&nbsp; Craft &nbsp;·&nbsp; Strategy &nbsp;·&nbsp; Icons &nbsp;·&nbsp; Vision &nbsp;·&nbsp; Legacy &nbsp;·&nbsp; Precision &nbsp;·&nbsp; Craft &nbsp;·&nbsp;
  </div>
</div>
